[list]
	repos = ../atlas-service
	repos = ../commons
	repos = ../config-service
	repos = ../connect-acceptance
	repos = ../connect-agent
	repos = ../connect-attestation
	repos = ../connect-ancillary
	repos = ../connect-documentation
	repos = ../connect-file2es
	repos = ../connect-identification
	repos = ../connect-irregularity
	repos = ../connect-name-matcher
	repos = ../connect-regulatory
	repos = ../connect-session-context
	repos = ../documentation
	repos = ../frontend-controller
	repos = ../tests
	repos = ../ui
	repos = ../wrap-up
